@import "../../responsive.scss";

.about{

  display: flex;
  height: 100%;


  @include sm {

    height: 60%;
  }


  .textContainer{

    flex: 3;


    .wrapper{

      padding-right: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      height: 350px;

      .about{
        height: 100%;
        font-size: x-large;
        font-weight: 900;
      }

      p{
        font-weight: 600;
      }
      @include lg{

        padding-right: 40px;
      }

      @include md {

        padding: 0;
      }



      }


    }
  

  .imgContainer {

    flex: 2;
    background-color: #fcf5f3;
    position: relative;
    display: flex;
    align-items: center;


    @include md{

      display:none;
    }
    @include lg{

      display:none;
    }


    img{

      width: 115%;
      position: absolute;
      right:0;

      @include lg{

        display:105%;
      }
     
     

    }
  }
}